html,
body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  color: #666;
}

body {
  display: flex;
  flex-direction: column;
}

#console {
  min-height: 20vh;
  background: #fafafa;
  border-top: 1px solid #eee;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-size: 6vh;
  letter-spacing: -2px;
}

#console-text-desc {
  /* font-size: 4vh; */
  font-size: 26px;
}
#console span {
  color: #aaa;
}
.cleff {
  position: absolute;
  left: -30px;
  top: 40%;

  transform: translate(0, -50%);
  font-size: 60vh;
}

#staff {
  margin: 20px 0;
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

#staff div,
#staff button {
  width: 100%;
  flex: 1;

  display: flex;
  flex-direction: row;
  justify-content: center;

  text-align: center;
  border: 0;
  background: transparent;

  position: relative;
  color: #888;
}
#staff .ledger {
  width: 30%;
}
#staff .ledger,
#staff .full {
  background: #ccc;

  --first-color: rgba(128, 128, 128, 0.4);
  --second-color: transparent;
  background: linear-gradient(
    transparent 0%,
    transparent 30%,
    var(--first-color) 30%,
    var(--first-color) 70%,
    transparent 70%
  );
}

button:focus {
  outline: none;
}

button[data-focused="true"]:after {
  content: " ";
  display: block;
  width: 70px;
  height: 130%;
  position: absolute;
  border-radius: 50%;
  background: #666;

  top: -4px;
  left: 50%;

  transform: translate(-50%, 0) rotate(-20deg);
}
